* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f2f6;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 85vh;
}